.student_dashboard{
    min-height: 120vh;
    width: 90%;
}

.enrolledCourse_container {
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.enrolledCourse_container h1 {
    font-size: 1.5rem;
}

.enrolledCourse_container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: inherit;
    row-gap: 20px;
}

.enrolledCourse_container ul li {
    background-color: aquamarine;
}

@media (min-width:768px) {
    .enrolledCourse_container {
        width: 400px;
    }
    .enrolledCourse_container ul {
        grid-template-columns: 350px
    }
}

@media (min-width:976px) {
    .enrolledCourse_container {
        width: 760px;
    }
    .enrolledCourse_container ul {
        column-gap: 20px;
        grid-template-columns: repeat(2,350px)
    }
}

@media (min-width:1400px) {
    .enrolledCourse_container {
        width: 1130px;
    }
    .enrolledCourse_container ul {
        grid-template-columns: repeat(3,350px)
    }
}