.inputContainer {
    margin-bottom: 1rem;
    position: relative;
}

.label {
    font-size: 1rem;
    position: absolute;
    color: black;
    left: 15px;
    top: 8px;
    transition: all 100ms;
}

.onInputFocus {
    color: rgb(243, 176, 88);
    top: -11px;
    background-color: white;
    padding: 0 5px;
    font-size: 0.9rem;
}

.input {
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px 15px;
}