:root{
    --sidebar_item_text: rgb(99, 115, 129);
    --sidebar_item_text_hover: rgb(32, 101, 209);
}

.icon{
    font-size: 1.5rem;
}

a{
    color: var(--sidebar_item_text);
    text-decoration: none;
}

a:hover{
    color: var(--sidebar_item_text_hover);
}