.option_container {
    opacity: 0;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    border-radius: 8px;
    box-shadow: rgb(145 158 171 / 20%) 0px 5px 5px -3px, rgb(145 158 171 / 14%) 0px 8px 10px 1px, rgb(145 158 171 / 12%) 0px 3px 14px 2px;
    transition: all 0.2s;
}

.option_container.active{
    opacity: 1;
}

.option_container .option {
    overflow: hidden;
    padding: 8px 10px;
    cursor: pointer;
}

.option_container .option:hover {
    background-color: rgba(32, 101, 209, 0.08);
}