:root{
    --font_colour:rgb(33, 43, 54);
}

.navbar {
    color: var(--font_colour);
    width: 100%;
    height: 56px;
    backdrop-filter: blur(6px);
    background-color: rgba(249, 250, 251, 0.72);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;

}

.navbar_brand {
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.navbar_brand h1{
    font-size: 1.7rem;
    font-weight: bold;
}

.navbar_actions{
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.sidebar_toggle{
    color: var(--font_colour);
    font-size: 1.5rem;
    margin-left: 10px;
    border: none;
    background-color: transparent;
}

@media (min-width:768px) {
    .navbar {
        width: calc(100% - 300px);
        left: 300px;
    }
    .navbar_brand {
        margin-left: 2rem;
    }
}