:root{
    --font_colour:rgb(33, 43, 54);
}

.courseProgram_container {
    position: relative;
    font-family: "Public Sans", sans-serif;
    color: var(--font_colour);
    margin: auto;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(145 158 171 / 20%) 0px 3px 1px -2px, rgb(145 158 171 / 14%) 0px 2px 2px 0px, rgb(145 158 171 / 12%) 0px 1px 5px 0px;
}

.courseProgram_container h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.courseProgram_table {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    overflow: scroll;
}

.courseProgram_table .header {
}

.courseProgram_table .body {
    box-shadow: 0px -1px 0px 0px rgba(17, 17, 26, 0.18);
}

.courseProgram_table .body:hover {
    background-color: rgb(249, 250, 251);
}

.courseProgram_table li {
    color: rgb(33, 43, 54);
    display: grid;
    width: 200%;
    grid-template-columns: 1fr 2fr 1fr 0.6fr 0.2fr;
}

.courseProgram_table li .column {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem 1rem;
}

@media (min-width:768px) {
    .courseProgram_container {
        width: 500px;
    }
    .courseProgram_table li {
        width: 150%;
    }
}

@media (min-width:976px) {
    .courseProgram_container {
        width: 920px;
    }
    .courseProgram_table {
        overflow: unset;
    }
    .courseProgram_table li {
        width: 100%;
    }
}

@media (min-width:1400px) {
    .courseProgram_container {
        width: 1130px;
    }
}